* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
/******** Header *********/
header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-left: 10px
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

strong {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 3rem;
  margin-top: 10px;
}

/******** Main *********/
.container {
  margin: auto;
  display: flex;
  justify-content: center;
}

.metronome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  /* border: 1px solid #000;
  border-radius: 10px; */
}

#canvas {
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #000;
}

button {
  border-radius: 3px;
  font-size: 20px;
  background-color: #F5F5F5;
  border: 1px solid #999;
}

.bpm-container {
  font-family: "Open Sans";
}

.bpm-form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bpb-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#beatList {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

li {
  padding: 0;
  flex-grow: 1;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.acctbtn {
  flex-grow: 1;
  border: none;
}

.accent {
  background-color: #f44336;
  color: white;
  box-shadow: 1px 1px 3px black;
}

.noAccent {
  box-shadow: 1px 1px 3px black;
}

.bpb-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#addBpb,
#minusBpb {
  margin: 0 2px;
  flex-grow: 1;
}
