* {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  margin: 0;
}

strong {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 3rem;
  margin-top: 10px;
}

.container {
  margin: auto;
  display: flex;
  justify-content: center;
}



.beat-display {
  border: 1px solid #000;
}

ul {
  text-align:left;
}

ul li {
  display: inline-block;
  margin: 2px;
}

.accent {
  background-color: #4CAF50;
}

.noAccent {
  background-color: buttonface;
}
